<?php if (true):  ?>

<div class="panel-group">
    <div class="title">Info</div>
    <div class="content">
        <div class="control-list list-unresponsive">
            <table class="table data">
                <tbody>
                <tr>
                    <td class="item-title">Data Inicio</td>
                    <td class="item-value">
                        10/10/2010
                    </td>
                </tr>
                <tr>
                    <td class="item-title">Previsão Término</td>
                    <td class="item-value">
                        10/10/2010
                    </td>
                </tr>
                <tr>
                    <td class="item-title">Status Atual</td>
                    <td class="item-value">
                         <span class="oc-icon-circle text-success">
                            Pending
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="item-title">Ultima Build</td>
                    <td class="item-value">
                         <span class="oc-icon-circle text-success">
                            Sucesso
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<?php endif; ?>